@model IEnumerable<Ictshop.Models.Chitietdonhang>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Style.css";

<h2>Chi tiết đơn hàng</h2>
<section class="home" id="home">
    <div class="slide-container active">
        <div class="slide">
            <div class="image">
                <img src="~/HinhanhSP/banner124.jpg" class="shoe" alt="" />
                <img src="~/HinhanhSP/banner125.jpg" class="text" alt="" />
            </div>
        </div>
    </div>
</section>
<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá / 1 sản phẩm
         </th>
        <th>
            Thành tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sanpham.Tensp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soluong)
    </td>
    <td>
        @String.Format("{0:0,0}", item.Dongia) VNĐ
    </td>
    <td>
        @String.Format("{0:0,0}", item.Thanhtien) VNĐ
    </td>
</tr>
    }

</table>
