@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Vọng, Thắng, Thái, Vũ
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    086 263 7921
</address>

<address>
    <strong>Email:</strong>   <a href="vongdoan9@gmail.com">vongdoan9@gmail.com</a><br />
</address>