@{
    ViewBag.Title = "Contact";
}



<h3>Thông tin liên hệ</h3>


<h3>Liên hệ với chúng tôi</h3>
<address>
    Vọng, Thắng, Thái, Vũ
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    086 263 7921
</address>

<address>
    <strong>Email:</strong>  vongdoan9@gmail.com</a>
</address>