@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/css/Style.css";

          <h3>Thông tin liên hệ</h3>

<section class="home" id="home">
    <div class="slide-container active">
        <div class="slide">
            <div class="image">
                <img src="~/HinhanhSP/banner124.jpg" class="shoe" alt="" />
                <img src="~/HinhanhSP/banner125.jpg" class="text" alt="" />
            </div>
        </div>
    </div>
</section>


<h3>Liên hệ với chúng tôi</h3>
<address>
    Vọng, Thắng, Thái, Vũ
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    086 263 7921
</address>

<address>
    <strong>Email:</strong>  vongdoan9@gmail.com</a>
</address>