@{
    ViewBag.Title = "Shopping";

}


<link rel="stylesheet" href="~/css/Style.css";


<br />
<section class="home" id="home">
    <div class="slide-container active">
        <div class="slide">
            <div class="image">
                <img src="~/HinhanhSP/banner124.jpg" class="shoe" alt="" />
                <img src="~/HinhanhSP/banner125.jpg" class="text" alt="" />
            </div>
        </div>
    </div>
</section>
@*<div class="row">
    <div class="item">
        <img src="~/HinhanhSP/banner-bg.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-8">
        <img class="img-responsive" src="~/HinhanhSP/banner-img.png" />
    </div>
    <div class="item">
        <img class="img-responsive" src="~/HinhanhSP/common-banner.jpg" />
    </div>

</div>*@



<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <img class="img-responsive" src="~/HinhanhSP/ban1.png" />
        @*<div class="col-md-4">
            <img src="~/HinhanhSP/spnb1.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb2.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb3.jpg" class="img-responsive" alt="" />
        </div>*@
    </div>
</div>
<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc")
</div>
<div class="dt">

    @Html.Action("giayadidas", "Sanpham")
</div>
<div class="dt">

    @Html.Action("giaynike", "Sanpham")
</div>

<div class="dt">

    @Html.Action("giaypuma", "Sanpham")
</div>

<div class="row">
    <h2> Tin tức sản phẩm</h2>
</div>